<nav class="navigation" role="navigation">
  <%= link_to(
              'Codes',
              [namespace, :tags],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__tags')}"
      ) %>
  <%= link_to(
              'Annotations',
              [namespace, :annotations],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__annotations')}"
      ) %>
  <%= link_to(
              'Languages',
              [namespace, :languages],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__languages')}"
      ) %>
  <%= link_to(
              'User Settings',
              [namespace, :user_settings],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__user_settings')}"
      ) %>
</nav>
